{% extends "layout.html" %}
{% block content %}
{{ super() }}
<div class="row">
  <div class="small-12 columns">
    <p>The UManSysProp functions are also accessible via a simple REST API.  A
    client library for Python is provided which permits simple access to the
    functions in an idiomatic Python form. For other languages and systems, the
    details of the REST API are given below.</p>

    <p>Each function is associated with a URL; HTTP POST requests can be made
    to this URL with named parameter values encoded as JSON in the HTTP request
    body. The HTTP request's <code>Accept</code> header must be set to
    <code>application/json</code> (preferentially) to indicate that HTML should
    not be returned. Assuming the parameter values are acceptable for the
    utility called, the results will be returned as a JSON object in the HTTP
    response. The resulting JSON object will have at least one top-level
    property:</p>

    <ul>
      <li><code>tables</code> - this contains a definition of all tables in
      the result. It is keyed by the top-level name of each table, and each
      value is an object defining the table's title, and the properties of
      its rows and columns.</li>
      <li><code>table<em>n</em></code> - all other top level objects represent
      a table of the result. Each table is represented as a mapping of
      mappings.  The first mapping represents the columns, the inner mappings
      represent the rows.</li>
    </ul>

    <p>For example, the following request:</p>

    <pre><code>EXAMPLE</code></pre>

    <p>Might produce the following response:</p>

    <pre><code>EXAMPLE</code></pre>

    <p>Standard HTTP status codes are used to indicate errors. For example, in
    the case that not all parameters are provided for a function the following
    response might be returned:</p>

    <pre><code>EXAMPLE</code></pre>

    <p>The available functions are documented below. For programmatic use you
    can also query this page with the HTTP request's <code>Accept</code> header
    set to <code>application/json</code> in which case the response will
    contain the following information in a JSON object:</p>

    {% for name, tool in tools.items()|sort %}
    <hr>
    <h3>{{ tool.__doc__ }}</h3>
    <ul class="no-bullet">
    <li><strong>URL:</strong> <code>{{ url_for('call', name=name) }}</code></li>
    <li><strong>Parameters:</strong> <code>{{ tool.HandlerForm()|rejectattr('name', 'equalto', 'csrf_token')|join(', ', attribute='name') }}</code></li>
  </ul>
    <p>{{ render_docs(tool.handler.__doc__ or '')|safe }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
