{% extends "tool.html" %}
{% block title %}Test{% endblock %}
{% block form %}
{{ form.hidden_tag() }}
<div class="row">
  <div class="medium-6 columns">
    {{ render_field(form.number1) }}
  </div>
  <div class="medium-6 columns">
    {{ render_field(form.number2) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.temperatures) }}
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    {{ render_field(form.compounds) }}
  </div>
</div>
{% endblock %}
